
/* SETUP FONTS */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;800&display=swap');

/* SETUP COLORS */
:root{
    --background: #F0F0F0;
    --display: #1D1D1D;
    --primary: #005DFF;
    --secondary: #FCFCFC;
    --accent: #FFDA16;
    --accent-2: #F5583B;

    --button-bg-hover: var(--secondary);
    --button-fg-hover: var(--primary);
    --button-bg: var(--primary);
    --button-fg: var(--secondary);


    --background-dark: #0a0a0a;
    --display-dark: #eeeeee;
    --primary-dark: #1482ff;
    --secondary-dark: #1a1a1a;
    --accent-dark: #ffde5c;
    --accent-2-dark: #ff6a4b;

    --corner-radius: 15px;
    --corner-radius-inv: -15px;
    --corner-radius-small: 8px;

    --shine-degree: 120deg;
    --shine-color: rgba(255, 255, 255, 0.2);
    --shine-effect: linear-gradient(
            var(--shine-degree),
            transparent,
            var(--shine-color),
            transparent
    );
}

::selection      { color: var(--secondary);  background: var(--primary);}
::-moz-selection { color: var(--secondary);  background: var(--primary);}


body {
    font-family: 'Golos Text', sans-serif;
    background-color: var(--background);
    background: var(--background);

    height: 100vh;
    color: var(--display);
}

.dark-style {
    background: var(--background-dark);
    --background: var(--background-dark);
    --display: var(--display-dark);
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --accent: var(--accent-dark);
    --accent-2: var(--accent-2-dark);

    --button-bg-hover: var(--display-dark);
    --button-fg-hover: var(--primary-dark);
    --button-bg: var(--primary-dark);
    --button-fg: var(--display-dark);

    color: var(--display-dark)
}

/* NAVIGATION ---------------------------------------------------------- */

.navbar {
    display: block;
    height: 80px;
    background-color: var(--secondary);
    color: var(--display);
}

.nav-item a {
    color: var(--display);
    font-family: 'Golos Text', sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-item:hover a {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
}

.navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    flex-shrink: 0;
}

.container-nav .headline_title {
    display: none;
}

.container-nav {
    display: flex;
    height: 80px;
    padding: 8px 30px;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
}

.navbar-action {
    display: flex;
    justify-content: space-around;
}

#collapse-button {
    display: none;
}

/* BUTTON -------------------------------------------------------------- */

.btn {
    display: flex;
    padding: var(--corner-radius) calc(var(--corner-radius) + 5px);
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: var(--corner-radius);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--button-bg);
    color: var(--button-fg);
    font-weight: 600;
    transition: all 0.2s ease-in;
}

.btn svg path {
    fill: var(--button-fg);
}

.btn svg {
    width: 18px;
}

#calc-button {
    border-radius: 999px;
    padding: 40px;
}

#calc-button svg {
    aspect-ratio: 1;
    width: 120px;
}


#carousel-button-prev .btn, #carousel-button-next .btn {
    border-radius: var(--corner-radius-small);
    padding: 10px 10px;
}

@media (hover: none) {
    .btn:active {
        background-color: var(--button-bg-hover);
        color: var(--button-fg-hover);

        transition: all 50ms ease-in;
    }

    .btn:active svg path {
        fill: var(--button-fg-hover);
        transition: all 50ms ease-in;
    }
}

@media (hover: hover) {
    .btn:hover {
        box-shadow: 0 2px 10px 10px rgba(45, 112, 227, 0.30);
        background-color: var(--button-bg-hover);
        color: var(--button-fg-hover);
        transition: all 0.2s ease-in;

        transform: scale(1.05);
    }

    .btn:active {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: var(--button-bg);
        color: var(--button-fg);

        transition: all 0.1s ease-out;
        transform: scale(1);

    }

    .btn:hover svg path {
        fill: var(--button-fg-hover);
        transition: all 0.2s ease-in;
    }

    .btn:active svg path {
        fill: var(--button-bg-hover);
        transition: all 0.1s ease-out;
    }
}

.btn-small {
    padding: var(--corner-radius-small) calc(var(--corner-radius-small) + 5px);
    border-radius: var(--corner-radius-small);
}


/* HEADER ---------------------------------------------------------- */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    /*background-image: url("../assets/images/website/back.png");*/

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

#btn-header-order-inline {
    display: block;
}

#btn-header-order{
    display: none;
}

.header-back {
    position: absolute;
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

.header-back span {
    font-size: 22vw;
    font-weight: 800;
    color: var(--display);
    opacity: 0.1;
}

.header_with_image {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-content: space-between;
    padding: 0 10vw;
}

.header_text_column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 30vw;
}

.headline_title {
    color: var(--display);
    font-size: 4em;
    font-weight: 800;
}

.headline_subtitle {
    font-size: xx-large;
    font-weight: 600;
}

.header_text_column .btn {
    font-size: x-large;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header_image_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35vw;
}

.header_image {
    display: none;
    flex: 1;
    flex-shrink: 0;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-image: url("../assets/images/website/phone_static.png");
    background-size: contain;
    background-position: right;
    height: 100%;
    width: 100%;
}

.desktop-header-image {
    height: auto;
    width: auto;
    filter: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.25));
    transition: all .2s ease-out;
}

.desktop-header-image:hover {
    filter: drop-shadow(-10px 15px 15px rgba(0, 0, 0, 0.15));
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

/*.header_image:hover {*/
/*    background-image: url("../assets/images/website/phone_header_desktop.png");*/

/*    transition: all .3s ease-in-out;*/
/*}*/

/* ANIMATIONS ------------------------------------------------------ */

.animate-appear {
    animation-duration: 0.5s;
    animation-name: animate-scale-appear;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes animate-scale-appear {
    0% { scale: 0; }
    100% { scale: 1; }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.scroll-container {
    overflow: hidden;
}

.scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: scroll-anim 10s linear infinite;
    -webkit-animation: scroll-anim 10s linear infinite;
    animation: scroll-anim 10s linear infinite;
}

/* for Firefox */
@-moz-keyframes scroll-anim {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes scroll-anim {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-anim {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* ICON BLOCK ------------------------------------------------------- */

#features_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
}

.icon_block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.icon_block svg {
    height: 64px;
    width: 64px;
    flex-shrink: 0;
    fill: var(--secondary);
    padding: 10px;
    background-color: var(--accent-2);
    border-radius: var(--corner-radius);
    transition: transform 0.4s ;
}

.icon_block:hover svg {
    transform: rotate(360deg);
    transition: transform 0.4s ease-in-out;
}

.icon_block svg path {
    fill: var(--secondary);
}

.icon_block span {
    font-size: xx-large;
    font-weight: 600;
    color: var(--accent-2);
}


/* SECTION ------------------------------------------------------------ */

section {
    display: flex;
    flex-direction: column;
    gap:    30px;
    justify-content: flex-start;
    padding: 30px 0;
}

.section-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-content: space-between;
    /*align-items: center;*/
    padding: 30px 10vw;
    align-items: stretch;
}

.section-even {
    /*background: var(--background-dark);*/
    /*--background: var(--background-dark);*/
    /*--display: var(--display-dark);*/
    /*--primary: var(--primary-dark);*/
    /*--secondary: var(--secondary-dark);*/
    /*--accent: var(--accent-dark);*/
    /*--accent-2: var(--accent-2-dark);*/

    /*--button-bg-hover: var(--display-dark);*/
    /*--button-fg-hover: var(--primary-dark);*/
    /*--button-bg: var(--primary-dark);*/
    /*--button-fg: var(--display-dark);*/

    /*color: var(--display-dark)*/
}

.section-non-even {
    background-image: url("../assets/images/website/back.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    padding: 0 10vw;
}

.section-title {
    color: var(--display);
    font-size: 3em;
    font-weight: 600;
}

.section-span {
    font-size: x-large;
    font-weight: 400;
    width: 50vw;
}

.section-span h2 {
    font-weight: 600;
    padding-bottom: 10px;
}

.back-sec {
    background-color: var(--secondary);
    padding: var(--corner-radius);
    border-radius: var(--corner-radius);
}

.back-ac {
    background-color: var(--accent-2);
    padding: var(--corner-radius);
    border-radius: var(--corner-radius);
    color: var(--secondary);
    font-size: large;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#warning-calc {
    max-width: 30vw;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
}

.section-row .section-text {
    padding: 0;
    height: auto;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}

.section-row .section-content {
    width: 20vw;
}


/* BUTTON ALT ------------------------------------------------------- */

.btn-alt {
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.btn-alt::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
}

.btn-alt::before {
    -webkit-animation: shine 5s ease-in-out infinite;
    animation: shine 5s ease-in-out infinite;
}

@-webkit-keyframes shine {
    0% {
        left: -100%;
        transition-property: left;
    }
    11.5044247788%, 100% {
        left: 100%;
        transition-property: left;
    }
}

@keyframes shine {
    0% {
        left: -100%;
        transition-property: left;
    }
    11.5044247788%, 100% {
        left: 100%;
        transition-property: left;
    }
}

/* CAROUSEL ----------------------------------------------------------- */


#carousel-button .btn{
    width: 460px;
    font-size: x-large;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 460px;
    --card-min-height: 450px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    min-height: var(--card-min-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}

.card-carousel.smooth-return {
    transition: all .2s ease;
}

.card-carousel .card {
    background: var(--secondary);
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    min-height: var(--card-min-height);
    position: absolute;
    margin: 0 auto;
    color: var(--display);
    transition: inherit;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    border-radius: var(--corner-radius);
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card p {
    font-size: large;
    font-weight: 400;
    text-align: left;
    color: var(--display);
}

.card.highlight {
    filter: brightness(1);

    box-shadow: 0 0 40px 10px rgba(216, 230, 255, 0.2);

    transition: transform 0.5s ease-in, box-shadow 0.5s ease-in;
    transform: scale(1.2);

}

.image-container {
    position: relative;
}

.over-carousel-container {
    display: none;
}

/* FLOATING CARD --------------------------------------------------- */

.card_body {
}
.active .floating:before {
    opacity: 1;
    transition: 500ms;
}

.floating {
    position: relative;
    box-shadow: -20px 14px 54px rgba(0, 0, 0, 0.55);
    border-radius: var(--corner-radius);
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: rotateX(17deg) rotateY(18deg);
}

.floating-no {
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: rotateX(17deg) rotateY(18deg);
}

.text-on-floating {
    z-index: 2;
    font-size: xx-large;
    font-weight: 600;
    transform: translateZ(40px);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    text-shadow: -9px 8.7px 6px rgba(0, 0, 0, 0.8);
}

.container-on-floating {
    z-index: 3;
    transform: translateZ(30px);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(-6.4px 6.2px 8px rgba(0, 0, 0, 0.6));
}

.phone-image {
    width: calc(404px * 0.6);
    height: calc(852px * 0.6);
    transform: rotateZ(20deg);
}

.thickness-phone {
    width: calc(400px * 0.6);
    height: calc(852px * 0.6);
    padding-right: 2px;
    border-radius: 38px;

}

.thickness {
    position: absolute;
    background: linear-gradient(145deg, #252525, #444444);
    background: #1a1a1a;
    transform: translateZ(-2px) rotateZ(20deg);
}
.thickness:nth-child(2) {
    transform: translateZ(-4px) rotateZ(20deg);
}
.thickness:nth-child(3) {
    transform: translateZ(-6px) rotateZ(20deg);
}
.thickness:nth-child(4) {
    transform: translateZ(-10px) rotateZ(20deg);
}

/* FOOTER ---------------------------------------------------------- */
footer {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: var(--display);
    color: var(--secondary);
}



/* FOR MOBILE ---------------------------------------------------- */
@media screen and (max-width: 660px) {

    /*--corner-radius: var(--corner-radius-small);*/


    .navbar {
        height: fit-content;
        min-height: 80px;
    }

    .header-back {
        justify-content: start;
        align-items: start;
    }

    .header-back span {
        font-size: 10em;
    }

    .container-nav {
        height: fit-content;
        min-height: 80px;
        flex-direction: row;
        align-content: start;
        align-items: flex-start;
        padding: 20px;
        gap: 20px;
    }

    #request-project-button {
        display: none;
    }

    #collapse-button {
        display: flex;
    }

    .navbar-collapse .navbar-nav {
        display: none;
        flex: 1;
        transition: all 0.3s ease-in;
        flex-direction: column;
        align-content: start;
        align-items: start;
    }

    .header_with_image {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        gap: 0;
    }

    .header_text_column {
        flex: none;
        justify-content: space-between;
        align-items: center;
        width: auto;
        gap: 30px;
        padding: 20px 10vw;
    }
    
    .header_text_column .headline_title {
        display: none;
    }

    #btn-header-order-inline {
        display: none;
    }

    #btn-header-order{
        display: none;
    }

    .navbar-brand {
        display: none;
    }
    .headline_title {
        font-size: xx-large;
        font-weight: 600;
        color: var(--display);
        text-align: start;
    }

    .headline_subtitle {
        font-size: large;
        font-weight: 400;
        text-align: center;
    }

    .header_image_container {
        flex: 1;
        max-width: unset;
        background-image: url("../assets/images/website/phone_header_mobile.png");
        background-size: contain;
        background-position: bottom center;
    }

    .container-nav .headline_title {
        display: block;
    }

    #features_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        width: 100%;
    }

    .icon_block {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .icon_block svg {
        padding: 0;
        height: 42px;
        width: 42px;
        fill: var(--accent);
        background-color: unset;
    }

    .icon_block span {
        color: var(--accent);
        font-size: large;
    }

    .icon_block svg path{
        fill: var(--accent);
    }

    /* SECTION ----------------------------------------------- */

    section {
        padding: 0 0 30px 0;
    }

    .section-row {
        padding: 0 0 30px 0;
    }

    .section-text {
        padding: 0 0;
    }

    .section-row .section-text {
        padding: 0 0;
    }

    .section-title {
        padding: 15px 15px;
        background-color: var(--secondary);
        color: var(--display);
        font-size: xx-large;
        text-align: center;
    }

    .section-span {
        font-size: medium;
        width: auto;
        padding: 20px;
        margin: 0 20px;
    }

    .row {
        gap: 20px;
        padding: 0 20px;
    }

    .card-carousel {
        --card-width: 80vw;
        --card-min-height: 350px;
        --carousel-min-width: 100vw;
        margin: 30px 0;
    }

    .card.highlight {
        box-shadow: 0 0 15px 5px rgba(216, 230, 255, 0.2);
        transition: box-shadow 0.2s ease-in-out;
        transform: none;
    }

    #services {
        gap: 0;
    }

    #carousel-button .btn{
        width: 80vw;
    }

    .carousel-container {
        gap: 0;
        padding: 0 0;
    }

    .over-carousel-container {
        z-index: 3;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        padding: 0 10px;
    }

    .desktop-header-image {
        display: none;
    }

    #content-calc-section {
        display: none;
    }

    #calc-button {
        border-radius: 999px;
        padding: 15px;
    }

    #calc-button svg {
        aspect-ratio: 1;
        width: 120px;
    }

    #warning-calc {
        max-width: unset;
        font-size: small;
        margin: 0 0;
    }
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

