
/* SETUP FONTS */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;800&display=swap');

@import "carousel.css";

/* SETUP COLORS */
:root{
    --background: #F0F0F0;
    --display: #1D1D1D;
    --primary: #005DFF;
    --secondary: #FCFCFC;
    --accent: #FFDA16;

    --corner-radius: 15px;
    --corner-radius-small: 8px;
}

::selection      { color: var(--secondary);  background: var(--primary);}
::-moz-selection { color: var(--secondary);  background: var(--primary);}


body {
    font-family: 'Golos Text', sans-serif;
    background-color: var(--background);
    background: var(--background);

    height: 100vh;
    color: var(--display);
}

/* NAVIGATION ---------------------------------------------------------- */

.navbar {
    display: block;
    height: 80px;
    background-color: var(--display);
    color: var(--background);
}

.nav-item a {
    color: var(--secondary);
    font-family: 'Golos Text', sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-item:hover a {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
}

.nav-item a {
    color: var(--secondary);
    text-decoration: none;
}

.navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    flex-shrink: 0;
}

.container-nav .headline_title {
    display: none;
}

.container-nav {
    display: flex;
    height: 80px;
    padding: 8px 30px;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
}

.navbar-action {
    display: flex;
    justify-content: space-around;
}

#collapse-button {
    display: none;
}

/* BUTTON -------------------------------------------------------------- */

.btn {
    display: flex;
    padding: var(--corner-radius) calc(var(--corner-radius) + 5px);
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: var(--corner-radius);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--primary);
    color: var(--secondary);

    transition: all 0.2s ease-in;
}

.btn svg path {
    fill: var(--secondary);
}

.btn svg {
    width: 18px;
}

#carousel-button-prev .btn, #carousel-button-next .btn {
    border-radius: var(--corner-radius-small);
    padding: 10px 10px;
}

@media (hover: hover) {
    .btn:hover {
        box-shadow: 0 2px 10px 10px rgba(45, 112, 227, 0.30);
        background-color: var(--secondary);
        color: var(--primary);
        transition: all 0.2s ease-out;
    }

    .btn:active {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: var(--primary);
        color: var(--secondary);

        transition: all 0.2s ease-in;
    }

    .btn:hover svg path {
        fill: var(--primary);
        transition: all 0.2s ease-out;
    }

    .btn:active svg path {
        fill: var(--secondary);
        transition: all 0.2s ease-in;
    }
}

@media (hover: none) {
    .btn:active {
        background-color: var(--secondary);
        color: var(--primary);

        transition: all 50ms ease-in;
    }

    .btn:active svg path {
        fill: var(--primary);
        transition: all 50ms ease-in;
    }
}

.btn-small {
    padding: var(--corner-radius-small) calc(var(--corner-radius-small) + 5px);
    border-radius: var(--corner-radius-small);
}


/* HEADER ---------------------------------------------------------- */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 80px);
}

.header_with_image {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-content: space-between;
    padding: 0 15vw;
}

.header_text_column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 30vw;
}

.headline_title {
    color: var(--primary);
    font-size: 4em;
    font-weight: 800;
}

.headline_subtitle {
    font-size: x-large;
}

.header_text_column .btn {
    font-size: x-large;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.header_image {
    flex: 1;
    flex-shrink: 0;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-image: url("../assets/images/website/phone_header_desktop.png");
    background-size: contain;
    background-position: right;
    height: 100%;
    width: 100%;
}

/* ICON BLOCK ------------------------------------------------------- */

#features_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
}

.icon_block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.icon_block svg {
    height: 64px;
    width: 64px;
    flex-shrink: 0;
    fill: var(--secondary);
    padding: 10px;
    background-color: var(--primary);
    border-radius: 32px;
}

.icon_block svg path {
    fill: var(--secondary);
}

.icon_block span {
    font-size: large;
    font-weight: 400;
    color: var(--primary);;
}


/* SECTION ------------------------------------------------------------ */

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    padding: 30px 0;
}

.section-even {
    background: var(--background);
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    padding: 0 10vw;
}

.section-title {
    color: var(--primary);
    font-size: 3em;
    font-weight: 600;
}

.section-span {
    font-size: x-large;
    font-weight: 400;
    width: 60vw;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
}


/* FOOTER ---------------------------------------------------------- */
footer {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: var(--display);
    color: var(--secondary);
}



/* FOR MOBILE ---------------------------------------------------- */
@media screen and (max-width: 660px) {

    .navbar {
        height: fit-content;
        min-height: 80px;
    }

    .container-nav {
        height: fit-content;
        min-height: 80px;
        flex-direction: row;
        align-content: start;
        align-items: flex-start;
        padding: 20px;
        gap: 20px;
    }

    #request-project-button {
        display: none;
    }

    #collapse-button {
        display: flex;
    }

    .navbar-collapse .navbar-nav {
        display: none;
        flex: 1;
        transition: all 0.3s ease-in;
        flex-direction: column;
        align-content: start;
        align-items: start;
    }

    .header_with_image {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        gap: 0;
    }

    .header_text_column {
        flex: 1;
        justify-content: space-between;
        width: auto;
        gap: 30px;
        padding: 20px;
    }
    
    .header_text_column .headline_title {
        display: none;
    }

    .navbar-brand {
        display: none;
    }

    .headline_title {
        font-size: xx-large;
        font-weight: 600;
        color: var(--secondary);
        text-align: start;
    }

    .headline_subtitle {
        font-size: large;
        text-align: center;
    }

    .header_image_container {
        flex: 1;
        width: auto;
    }

    .header_image {
        background-image: url("../assets/images/website/phone_header_mobile.png");
        background-position: bottom;
    }

    .container-nav .headline_title {
        display: block;
    }

    #features_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
    }

    .icon_block {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .icon_block svg {
        fill: var(--primary);
        background-color: unset;
    }

    .icon_block span {
        font-size: small;
    }

    .icon_block svg path{
        fill: var(--primary);
    }

    section {
        padding: 0 0 30px 0;
    }
    .section-text {
        padding: 0 20px;
    }

    .section-title {
        padding: 15px 15px;
        background-color: var(--primary);
        border-radius: var(--corner-radius-small);
        color: var(--secondary);
        font-size: xx-large;
        text-align: center;
    }

    .section-span {
        font-size: medium;
        width: auto;
    }
}

