# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/sk-dev.site.iml
/vcs.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
/misc.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/deployment.xml
